
*.pyc
/common/__pycache__
**/__pycache__/
/.idea
*.pyc
/extract.yaml
/report/temp
/report/ci-*
/report/local-ci-*
/report/allure-report
/report/allure-history
mock-server.log
/.venv
/mock_server/api_server/.venv
/.pytest_cache
/logs
